img {
    border-radius: 10px;
    width: 80%;
}

h1 {
    font-size: 3em;
    font-family: Quicksand, sans-serif;
    line-height: 1em;
    font-weight: bold;
    text-align: justify;
    padding-left: 80px;
}

p {
    font-size: 1em;
    padding-left: 80px;
    text-align: justify;
}

.columns {
    display: flex;
    padding-bottom: 20px;
    position:relative;
    margin-top: 120px;
}

.columnsB {
    display: flex;
    padding-bottom: 20px;
    padding-right: 70px;
}